/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Footer Styles */
.footer {
  width: 100vw;
  height: fit-content;
  background-color: #f2f2f2;
  padding: 40px 0;
  color: #666;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 70%;
}

.footer-top {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
}

/* Footer Columns */
.footer-column {
  flex-basis: 22%;
  text-align: left;
}

.footer-logo {
  max-width: 200px;
}

.footer-mission {
  font-size: 14px;
  line-height: 1.5;
  color: #999;
}

.footer-column h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
}

.footer-column ul li a:hover {
  color: #000;
}

/* Social Media Icons */
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social a {
  margin: 0 10px;
  color: #666;
  font-size: 30px;
}

/* Footer Bottom */
.footer-bottom {
  padding-top: 20px;
  border-top: 1px solid #a8a8a8 ;
  margin-top: 20px;
  font-size: 14px;
}

.footer-bottom p {
  margin: 5px 0;
}

.footer-bottom a {
  text-decoration: none;
  color: #666;
}

.footer-bottom a:hover {
  color: #000;
}

@media (max-width: 768px) {
  .footer-top {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      justify-content: center;
  }
}